---
import { i18n, getLocaleFromPath, type Locale } from '~/i18n'
import SectionDivider from '~/components/base/SectionDivider.astro'
import FooterLink from '~/components/base/FooterLink.astro'

const { pathname } = Astro.url
const locale = getLocaleFromPath(pathname) as Locale
const { footerLinks, siteConfig } = i18n.get(locale)
---

<SectionDivider position="bottom" />
<footer class="flex-none border-x border-border/50 max-w-3xl mx-auto text-center">
  <div class="py-4">
    <div class="pb-8">
      <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-muted-foreground pb-4 px-6 sm:px-8 border-b border-border/50">
        {footerLinks.map((link) => <FooterLink href={link.url}>{link.name}</FooterLink>)}
      </div>
      <div class="text-sm text-muted-foreground px-6 sm:px-8 py-4">
        <div class="flex justify-center items-center flex-wrap gap-4">
          {siteConfig.footerText}
        </div>
      </div>
    </div>
  </div>
</footer>
